.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

section {
  background-color: #4682B4;
  padding: 30px;
  height: auto;
  text-align: center;
  font-size: 35px;
  color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #FFFFFF;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#primeb {
  text-decoration: none;
  color: white;
  padding: 6px;
  background-color: #1E6597;
  border-width: 2px;
  border-style: solid;
}

#primeb:hover {
  background-color: #22577D;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
